<!DOCTYPE html>
<html>
  <head>
    <title>Solana API Demo</title>
    <script src="https://unpkg.com/moralis/dist/index.js"></script>
  </head>
  <body>
    <h2>Solana API Demo</h2>
    <input type="text" id="address" name="address" placeholder="address">
    <select id="network" name="network" aria-placeholder="network">
      <option value="mainnet">Mainnet</option>
      <option value="devnet">Devnet</option>
    </select>
    <button id="get-NFTs">Get NFTs</button>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>